#nav-collapse {
  padding: 30px;
  li {
    font-weight: bold;
    color: #aaaaaa;
    .router-link-active {
      color: #42b983;
    }
  }
}

.true {
  background-color: #00ff009a;
}
.false {
  background-color: #ff0000a2;
}

th {
  padding: 10px;
}
td {
  text-align: center;
  border-radius: 10px;
  border-width: 1px;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
